<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />

</head>

<body>

    <section class="sectionWrapper">
        <div class="row">
            <div class="card">
                <div class="card card__side card__side--front">
                    <video autoplay class="webcam"></video>
                </div>
                <div class="card card__side card__side--back">
                    <div class="card__cta">
                        <h1 class="card__side--back-heading">Deine Ergebnisse</h1>
                        <form class="predictionForm" action="" method="post">
                            <div class="predictionForm__leftInput">
                                <input type="text" name="age" id="age" class="input" autofocus>
                                <label class="label" for="age">Alter</label>
                            </div>
                            <div class="predictionForm__rightInput">
                                <input type="text" name="gender" id="gender" class="input">
                                <label class="label" for="gender">Geschlecht</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <a href="#" class="button buttonWhite">Lass dich Schätzen</a>
        </div>
    </section>
    <canvas id="canvas" width="400" height="350"></canvas>
    <script src="../static/jquery-3.3.1.min.js"></script>
    <script>
        navigator.getUserMedia = (navigator.getUserMedia ||
            navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia ||
            navigator.msGetUserMedia);
        var clicked = false;
        var video;
        var webcamStream;
        var canvas = document.getElementById('canvas');
        var ctx;
        if (navigator.getUserMedia) {
            navigator.getUserMedia({
                    video: true,
                    audio: false
                },
                function (localMediaStream) {
                    video = document.querySelector('video');
                    try {
                        video.srcObject = localMediaStream;
                    } catch (error) {
                        video.src = window.URL.createObjectURL(localMediaStream);
                    }
                    webcamStream = localMediaStream;
                },
                function (err) {
                    console.log("The following error occured: " + err);
                }
            );
        } else {
            console.log("getUserMedia not supported");
        }
        document.querySelector('.button').addEventListener('click', function () {

            if (clicked) {
                changeUIToDefault();
                sendForm();
            } else {
                changeUIToClicked();
                sendImage();
            }
        });

        function sendImage() {
            ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
            var dataURL = canvas.toDataURL("image/png");
            console.log(dataURL)
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/prediction",
                data: {
                    image: dataURL
                },
                success: function (data) {
                    var json = $.parseJSON(data);
                    crypticWow(json.age, document.querySelector("#age"));
                    crypticWow(json.gender, document.querySelector("#gender"));
                }
            });
        };

        function sendForm() {

        };

        function changeUIToDefault() {
            var selectors;
            selectors = document.querySelectorAll('.card__side');
            selectors = Array.prototype.slice.call(selectors);
            selectors.forEach(function (current, index) {
                current.classList.remove('clicked');
            });
            document.querySelector('.button').innerHTML = 'lass dich schätzen';
            clicked = false;
        }

        function changeUIToClicked() {
            var selectors;
            selectors = document.querySelectorAll('.card__side');
            selectors = Array.prototype.slice.call(selectors);
            selectors.forEach(function (current, index) {
                current.className += ' clicked';
            });
            document.querySelector('.button').innerHTML = 'Neuer Versuch';
            clicked = true;
        }

        function crypticWow(data, location) {
            setTimeout(function () {
                var logoRandom = '';
                var possible = "-+*/|}{[]~:;?/.><=+-_)(*&^%$#@!)}...";
                for (var i = 0; i < data.length + 1; i++) {
                    logoRandom = data.substr(0, i);
                    for (var j = i; j < data.length; j++) {
                        logoRandom += possible.charAt(Math.floor(Math.random() * possible.length));
                    }
                    generateRandomTitle(i, logoRandom, location);
                    logoRandom = '';
                }

                function generateRandomTitle(i, logoRandom, location) {
                    setTimeout(function () {
                        location.value = logoRandom;
                    }, i * 50);
                }
            }, 100);
        };
    </script>
</body>

</html>