<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css" />

</head>

<body>

    <section class="sectionWrapper">
        <div class="row">
            <div class="card">
                <div class="card card__side card__side--front">
                    <video autoplay class="webcam"></video>
                </div>
                <div class="card card__side card__side--back">
                    <div class="card__cta">
                        <h1 class="card__side--back-heading">Deine Ergebnisse</h1>
                        <form class="predictionForm" action="" method="post">
                            <div class="predictionForm__leftInput">
                                <input type="text" name="age" id="age" class="input" autofocus>
                                <label class="label" for="age">Alter</label>
                            </div>
                            <div class="predictionForm__rightInput">
                                <input type="text" name="gender" id="gender" class="input">
                                <label class="label" for="gender">Geschlecht</label>
                            </div>
                            <div class="predictionForm__lowInput">
                                <input type="checkbox" name="save" id="save" class="input">
                                <label class="label" for="save">Bild sichern?</label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <a href="#" id="button" class="button buttonWhite">Lass dich Schätzen</a>
        </div>
    </section>
    <!-- Canvasdimensions has to be the proportion of the Webcam -->
    <canvas id="canvas" width="400" height="300" hidden></canvas>
    <script src="../static/jquery-3.3.1.min.js"></script>
    <script>
        navigator.getUserMedia = (navigator.getUserMedia ||
            navigator.webkitGetUserMedia ||
            navigator.mozGetUserMedia ||
            navigator.msGetUserMedia);
        var clicked = false;
        var video;
        var webcamStream;
        var canvas = document.getElementById('canvas');
        var ctx;
        var ID = 0;
        // Enable Webcam
        if (navigator.getUserMedia) {
            navigator.getUserMedia({
                    video: true,
                    audio: false
                },
                function (localMediaStream) {
                    video = document.querySelector('video');
                    try {
                        video.srcObject = localMediaStream;
                    } catch (error) {
                        video.src = window.URL.createObjectURL(localMediaStream);
                    }
                    webcamStream = localMediaStream;
                },
                function (err) {
                    console.log("The following error occured: " + err);
                }
            );
        } else {
            console.log("getUserMedia not supported");
        }
        document.querySelector('.button').addEventListener('click', function () {
            if (clicked) {
                boolean = true;
                success = sendForm();
                if (success == false) {
                    boolean = success;
                }
                console.log(boolean)
                if (boolean) {
                    changeUIToDefault();
                }
            } else {
                changeUIToClicked();
                sendImage();
            }
        });

        function sendImage() {
            ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
            var dataURL = canvas.toDataURL("image/png");
            document.getElementById('age').value = "...";
            document.getElementById('gender').value = "...";
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/prediction",
                data: {
                    image: dataURL
                },
                success: function (data) {
                    document.getElementById('age').value = data.age;
                    document.getElementById('gender').value = data.gender;
                    ID = data.id;
                    document.getElementById("button").style.display = "inline";
                    document.querySelector('.card__side--back-heading').innerHTML = 'Deine Ergebnisse:';
                }
            });
        };

        function sendForm() {
            var saved = 0;
            var age = document.getElementById("age").value;
            var gender = document.getElementById("gender").value;
            var checkbox = document.getElementById('save');
            if (gender != "M" && gender != "W" || parseInt(age) <= 0 || parseInt(age) > 100 || parseInt(age) == undefined || parseInt(age) == NaN) {
                alert("Bitte schreiben Sie nur valide Dinge in das Form")
                return false
            }
            if (checkbox.checked) {
                saved = 1;
            }
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/save",
                data: {
                    save: saved,
                    ID: ID,
                    age: age,
                    gender: gender
                },
                success: function (data) {
                    console.log('success');
                }
            });
        };

        function changeUIToDefault() {
            var selectors;
            selectors = document.querySelectorAll('.card__side');
            selectors = Array.prototype.slice.call(selectors);
            selectors.forEach(function (current, index) {
                current.classList.remove('clicked');
            });
            document.querySelector('.button').innerHTML = 'Lass dich schätzen';
            clicked = false;
        }

        function changeUIToClicked() {
            var selectors;
            selectors = document.querySelectorAll('.card__side');
            selectors = Array.prototype.slice.call(selectors);
            selectors.forEach(function (current, index) {
                current.className += ' clicked';
            });
            document.querySelector('.card__side--back-heading').innerHTML = 'Ihre Ergebnisse werden berechnet';
            document.getElementById("button").style.display = "none";
            document.querySelector('.button').innerHTML = 'Neuer Versuch';
            clicked = true;
        }
    </script>
</body>

</html>
